@import url('https://fonts.googleapis.com/css?family=Syncopate|Unica+One');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body, html { 
	overflow-y: hidden;
	background-color: transparent !important;
	display: none;
}
.right-color { 
	position: absolute;
	top: 0px;
	left: 30px;
	background: rgb(40, 40, 40);
	height: 190px;
	width: 500px;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	z-index:5;
}

.right-color2 {
    position: absolute;    
    top: 0;
    left: 30px;
    background: rgb(40, 40, 40);
    height: 260px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    z-index: 5;
}

.right-color3 {
    position: absolute;
    top: 0;
    left: 30px;
    background: rgb(40, 40, 40);
    height: 150px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    z-index: 5;
}

.buttonAdding {
    margin-bottom: 40px;
}

.spacer{
    height: 10%;
}
.spacer2{
	display:absolute;
    top: -52px;
	left: -65px;
	height: 383px;
	overflow-y: auto;
	word-break: break-word;
	background-color: gray;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
table{
	table-layout:fixed;
}
.btn-group {    
	font-family: 'Roboto', sans-serif;
	height: 500px;	
	color: white;
	width: 760px;
	position: absolute;
	top: 80%;
	left: 50%;
	margin-top: -370px;
	margin-left: -400px;
	padding-bottom: 20px;
	display: none;
	z-index:1;
	background-image: url(tablet.png);
	background-repeat: no-repeat;
	background-size: 740px;
}
.bckgrnd{
	background: #818181;
	position: absolute;
	border-radius: 50px 5px 5px 5px;
}
#close {
	display: inline-block;
	float: right;
	padding: 5px;
	padding-right: 10px;
	color: rgb(255, 0, 0);
}
.tablet{
	z-index:2;
	display: block;
	position: absolute;
	top:-50px;
	left:-50px;
}

button {
    border-radius: 0px !important;
    border-color: white !important;
    background-color: #191919 !important;
    color: white !important;
    transition: 1000ms;
}

#karto_check_back {
    margin-top: -4.5px !important;
    height: 30px !important;
    width: 120px !important;
}

#exit_gui {
    background-color: #232323 !important;
}

#karto_send {
    margin-top: -5px !important;
}

button:hover {
    background-color: #989898 !important;
    transition: 1000ms;
}

div.police_actions, div.inv, div.voice {
	display: none;
}

.custom {
    width: 150px !important;
}

.sidenav {
    height: 400px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 29%;
    left: 17.5%;
    background-color: #191919;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    margin-top: 17px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}


#ptbl {
    text-align: left;
    color: white;
    table-layout: auto;
}

.sorting1 {
    text-align: left !important;
    padding: 2px;
    border-right: 1px solid white;
}

.sortingLast{
    text-align: left !important;
    border-right: 1px solid white;
}

th, td {
    color: #a5a5a5;
}

td {
    word-wrap: break-word !important;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@-webkit-keyframes reSizeIn {
    from {
        top: 120%;
        opacity: 0.0;
    }

    to {
        top: 80%;
        opacity: 1.0;
    }
}

@keyframes reSizeIn {
    from {
        top: 120%;
        opacity: 0.0;
    }

    to {
        top: 80%;
        opacity: 1.0;
    }
}

@-webkit-keyframes reSizeOut {
    from {
        top: 80%;
        opacity: 1.0;
    }

    to {
        top: 120%;
        opacity: 0.0;
    }
}

@keyframes reSizeOut {
    from {
        top: 80%;
        opacity: 1.0;
    }

    to {
        top: 120%;
        opacity: 0.0;
    }
}

.reSizeIn {
    -webkit-animation-name: reSizeIn;
    animation-name: reSizeIn;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.reSizeOut {
    -webkit-animation-name: reSizeOut;
    animation-name: reSizeOut;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}