@import url('https://fonts.googleapis.com/css?family=Syncopate|Unica+One');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

body {
    margin: 0;
    left: 0;
    top: 0;
}

.general {
  display: none;
}

/*
  font-family: 'Unica One', cursive;
  font-size: 20px; 
*/

/* Slideshow container */
.slideshow-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(39, 40, 51);
  width: 650px;
  height: 400px;
  border-radius: 10px;
}

/* Slides */
.mySlides {
  display: none;
  position: absolute;
  text-align: center;
  left: 50%;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Unica One', cursive;
  font-size: 20px; 
  text-transform: uppercase;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background: rgb(46, 47, 65);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
p {margin: 10px;}

/* Add a blue color to the author */
.author {color: rgb(131, 132, 141); font-size: 24px;}

.content {font-size: 16px;}

.button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background: linear-gradient(135deg, #6800f2 0%,#fc3acb 99%);
  color: white;
}